:root {
  // fonts
  --main-font-family: "Poppins", sans-serif;

  // colors
  --bg-main-color: #ffffff;
  --color-white: #fff;
  --color-white-dark: #d0d0d0;
  --color-purple-light: #9696b9;
  --color-purple-light-1: #5c5c8c;
  --color-purple-dark: #2d2d57;
  --color-gold: #ffc300;
  --color-gold-light: #c79645;
  --color-light-blue: #00ebff;
  --color-light-blue-1: #00ebff1f;
  --color-yellow: #fedd00;
  --color-light-yellow: #fedd001f;
  --color-gray: #283747;
  --color-gray-light: #1c1c24;

  // $golden: #FFC300;
  // $gray: #283747;#283746;#1c1c24;
}

// fonts
$main-font-family: "Poppins", sans-serif;
// colors
$bg-main-color: #ffffff;
$color-white: #fff;
$color-white-dark: #d0d0d0;
$color-purple-light: #9696b9;
$color-purple-light-1: #5c5c8c;
$color-purple-dark: #2d2d57;
$color-gold: #ffc300;
$color-gold-light: #c79645;
$color-light-blue: #00ebff;
$color-light-blue-1: #00ebff1f;
$color-yellow: #fedd00;
$color-light-yellow: #fedd001f;
$color-gray: #283747;
$color-gray-light: #1c1c24;
$color-black: #000000;
