@import "new_styles/abstract/mixins";
@import "new_styles/abstract/variables";

.container {
  width: 100%;
  position: relative;
  padding: 7.7rem 1.6rem 6.8rem 1.6rem;

  @include respond(sm) {
    padding: 6rem 2rem;
    padding-bottom: 8rem;
  }

  @include respond(xs) {
    padding: 4rem 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 79.4rem;
  margin: 0 auto;

  @include respond(sm) {
    max-width: 60rem;
  }
}

.title {
  font-weight: bold;
  font-size: 9rem;
  line-height: 1;
  letter-spacing: -0.5rem;
  color: $color-gray;
  display: block;
  margin-bottom: 3rem;
  text-align: center;

  @include respond(sm) {
    font-size: 8rem;
  }

  @include respond(xs) {
    font-size: 5rem;
  }
}

.breadcrumb {
  margin-bottom: 4.3rem;

  @include respond(xs) {
    margin-bottom: 3rem;
  }
}

.search-input {
  align-self: stretch;

  & input::placeholder {
    color: rgba($color: $color-gray, $alpha: 0.64);
    font-weight: 400;
  }
}

.wave {
  color: $color-gold;
  position: absolute;
  z-index: -2;
  bottom: -14rem;
  opacity: 0.16;
  width: 100%;
  left: 0;

  & > svg {
    height: 41rem;
    width: 100%;
  }

  & > div {
    background: linear-gradient(to bottom, transparent, $bg-main-color);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.auction_types {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;

  button {
    margin: 0 2rem;
    outline: none;
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  .auction_type_live {
    border: 0.15rem solid $color-gold !important;
    color: $color-gold !important;

    &:hover {
      background: $color-gold !important;
      border: 0.15rem solid $color-gold !important;
      color: $color-white !important;
    }
  }

  .active_gold {
    background: $color-gold !important;
    border: 0.15rem solid $color-gold !important;
    color: $color-white !important;
  }

  .auction_type_buynow {
    border: 0.15rem solid $color-gray !important;
    color: $color-gray !important;

    &:hover {
      border: 0.15rem solid $color-gray !important;
      background: $color-gray !important;
      color: $color-white !important;
    }
  }

  .active_blue {
    border: 0.15rem solid $color-gray !important;
    background: $color-gray !important;
    color: $color-white !important;
  }

  @include respond(sm) {
    button {
      padding: 0.5rem 0.8rem;
      font-size: 1.2rem;
      margin: 0 1rem;
    }
  }

  @include respond(xs) {
    gap: 1rem;
    grid-gap: 1rem;

    & button {
      margin: 0;
      flex: 1 1 48%;
    }
  }

  // Safari only
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      & button {
        margin: 0.5rem;
        flex: 1 1 40%;
      }
    }
  }
}
